<h2 class="display-flex"><img class="country__logo country__logo--big" src="{{flags.svg}}">{{name.official}}</h2>
<p><strong>Capital: </strong>{{capital}}</p>
<p><strong>Population: </strong>{{population}}</p>
<p><strong>Languages: </strong>{{languages}}</p>